{% spaceless %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="Description" content="CEC Online Sports Management Portal">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!--
  <meta property="og:title" content="CECOnline">
  <meta property="og:site_name" content="CEC">
  <meta property="og:url" content="-">
  <meta property="og:description" content="-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{% static 'images/image.png' %}">
-->
  <title>CEC Sports Management</title>

  {% block css %}
  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!--
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
-->

</head>

<body class="{% block body_class %}{% endblock %}">

<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">CEC Home</a>
   <a  href="/account/logout"> Logout </a>
</nav>


  <div class="container">

 {% block body %}

{% endblock %}

</div>


<footer class="footer">
<!--
To Be Implemented
-->
</footer>


<script src="{% static 'js/jquery3.js' %}" ></script>
<script src="{% static 'js/popper.min.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>

{% block javascript %}
{% endblock %}

<!-- This site was developed by Vignesh Hari |c|-->


</body>

</html>
{% endspaceless %}
