{% extends 'base.html' %}
{% load static %}

{% block body %}

    <h1 class="signuptext" align = center>CEC Sports Manager </h1>
    <br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/student/addstudent'" > Add Student </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/student/uploadcsv'"> Upload Students </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/addevent'"> Add Event </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/addparticiapation'"> Register Student for Event </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/disqualify'"> Disqualify Student for Event TODO </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/verifyparticiapation'"> Enter Event Results </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/eventreport'"> Event Reports </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/studentreport'"> Student Reports </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/adddutyleave'"> Add Duty Leave </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/studentreport'"> View Duty Leave List </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/account/signup'"> Add Users </button><br>

<button  class="btn btn-outline-primary btn-block"  onclick="location.href='/app/studentreport'"> Edit Users List  </button><br>


{% endblock %}
