

{% extends 'base.html' %}
{% load static %}

{% block body %}

<script>
window.onload = function() {

$('#resulttable').on('click', '.clickable-row', function(event) {
  if($(this).hasClass('table-primary')){
    $(this).removeClass('table-primary'); 

  } else {
    $('#id_admission_number').val($(this).closest('tr').find('th').text());
    $(this).addClass('table-primary').siblings().removeClass('table-primary');
  }
});

};
</script>

<h2 class="signuptext" align = center>Event {{eventname}} For Year {{year.year}} </h2>
<br>
<table class="table table-striped" id="resulttable">
  <thead>
    <tr>
      <th scope="col">Admission No</th>
      <th scope="col">Name</th>
      <th scope="col">Chest No</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>

{% for i in data %}

    <tr class="clickable-row" value="{{i.student.admission_number}}/{{i.student.passout_year}}" >
      <th scope="row">{{i.student.admission_number}}/{{i.student.passout_year}}</th>
      <td>{{i.student.name}}</td>
      {% if i.cno.cno %}
        <td>{{i.cno.cno}}</td>
      {% else %}
        <td>UND</td>
      {% endif %}
      <td>{{i.get_position_display}}</td>
      
    </tr>



{% endfor %}

  
  </tbody>
</table>



{% if error %}


<h6> Student Already Entered </h6>
{% endif %}


{% if error2 %}


<h6> Student Does not Exist in Event </h6>
{% endif %}

<div class="signupform">
    <form action="/app/verifyparticiapation/" method="post">
   {% csrf_token %}
    {% for field in form %}
    <br>
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
        <br>
        <input type="hidden" name="event" value={{event}}>
       <input type="submit" class="btn btn-primary" value="Submit">

    </form>
  </div>



{% endblock %}







