

    <h2 class="signuptext" align = center>CEC Sports Student Participation Form </h2>

{% if added %}

<h4> Added Student {{student}} For Event {{event}}. </h4>

{% endif %}

{% if repeat %}

<h4> Student Already Added for this event </h4>

{% endif %}

{% if error %}

<h4> No Student Found </h4>

{% endif %}

    <div class="signupform">
    <form action="/app/addparticiapation/" method="post">
   {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}

       <input type="submit" class="btn btn-primary" value="Submit">

    </form>
  </div>


