
{% extends 'base.html' %}
{% load static %}

{% block body %}

<h2>Student Report for {{student.name}} Admission Number {{student.admission_number}}/{{student.passout_year}} </h2>
<br>

<table class="table table-striped" id="resulttable">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Year</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>

{% for i in data %}

    <tr class="clickable-row" value="{{i.student.admission_number}}/{{i.student.passout_year}}" >
      <th scope="row">{{i.event.event_name}}</th>
      <td>{{i.year.year}}</td>
      <td>{{i.get_position_display}}</td>
      
    </tr>



{% endfor %}

  
  </tbody>
</table>

<br>
<br>
<h4 class="signuptext" align = center> CERTIFICATION </h4>
<h5 class="signuptext" align = center> <p> This is to certify that the above said statement was true to the best of my knowledge and I recommend the student for grade points </p>  </h5>
  

{% endblock %}
